body {
      font-family: Brush Script MT, cursive;
      margin: 20px;
      background-color:rgb(181, 181, 181);
      color:rgb(0, 0, 0);
    }

li {
      margin-bottom: 20px;
    }

img {
      display: block;
      margin-top: 5px;
      width: 600px;
      height: auto;
      border:2px solid rgb(0, 0, 0)
    }